.Todo__tasks
> div {
    /*                  rowgap   borders    box per row */
    width: calc((100% - 2rem*4 - 2px*5*2) / 5);
    aspect-ratio: 1 / 1;
    text-align: center;
    overflow-y: scroll;
}
    .Todo__tasks ul {
        padding: 0;
    }
        .Todo__tasks div::-webkit-scrollbar {
            width: 0.65rem;
            height: 0.65rem;
        }
            /* Scroll track above thumb */
            .Todo__tasks div::-webkit-scrollbar-track-piece {
                background-color: #ffffff00;
            }
            /* Scroll track below thumb */
            .Todo__tasks div::-webkit-scrollbar-track {
                background-color: #ffffff00;
                /* Shrink "pong" bar */
                margin-top: 6rem;
                margin-bottom: 6rem;
            }
            /* Scroll "pong" bar */
            .Todo__tasks div::-webkit-scrollbar-thumb {
                background-color: #ffffff00;
                border: 1px solid var(--color-solid);
                border-radius: 0.325rem;
            }
                /* Invert colors for 'solid' tasks */
                .Todo__tasks-solid::-webkit-scrollbar-thumb {
                    border: 1px solid var(--color-transparent);
                    border-radius: 0.325rem;
                }

            .Todo__tasks div::-webkit-scrollbar-thumb:hover {
                background-color: var(--color-solid); 
            }
                /* Invert colors for 'solid' tasks */
                .Todo__tasks-solid::-webkit-scrollbar-thumb:hover {
                    background-color: var(--color-transparent); 
                }

        .Todo__tasks h2 {
            font-size: 2.5rem;
        }

        .Todo__tasks h4 {
            font-size: 1.25rem;
        }

        .Todo__tasks li {
            text-align: center;
            list-style: none;
            font-size: 1.5rem;
        }

        .Todo__tasks-solid {
            background: var(--color-solid);
            color: #ffffff;
            opacity: 1;
            border-radius: 2%;
            border: 2px dotted rgba(0, 0, 0, 0);
        }

        .Todo__tasks-red {
            background: var(--color-red);
            color: #000000;
            opacity: 1;
            border-radius: 10%;
            border: 2px dotted rgba(0, 0, 0, 0);
        }

        .Todo__tasks-amber {
            background: var(--color-amber);
            color: #000000;
            opacity: 0.90;
            border-radius: 20%;
            border: 2px dotted rgba(0, 0, 0, 0);
        }

        .Todo__tasks-green {
            background: var(--color-green);
            color: #000000;
            opacity: 0.75;
            border-radius: 35%;
            border: 2px dotted rgba(0, 0, 0, 0);
        }

        .Todo__tasks-transparent {
            background: var(--color-transparent);
            color: #000000;
            opacity: 0.65;
            border-radius: 50%;
            border: 2px dotted rgba(0, 0, 0, 0.25);
        }

